# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# This workflow will build and deploy a Python app to Azure Web App - homeplate

name: Build and deploy Python app to Azure Web App - homeplate

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run unit tests
        run: |
            python -m unittest discover tests

      - name: Zip artifact for deployment
        # This excludes the local environment and git history to keep the package clean
        run: zip -r release.zip . -x "venv/*" ".git/*" "__pycache__/*" "tests/*"

      - name: Upload artifact for deployment jobs
        uses: actions/upload-artifact@v4
        with:
          name: homeplate-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: homeplate-app

      - name: Unzip artifact for deployment
        run: unzip release.zip

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'homeplate'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_767EA1A3B3A2457C81FF36FF83A69FEC }}
          package: .